<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="../css/school.css">
</head>
<body>
  <div>
    <img class="img1" src="../images/logo.png" width="100" height="100">
    <div class="p py-3"><h1 class="mainnav">GOVERNMENT HIGHER SECONDARY SCHOOL,Pachal</h1><p class="mainnav2">தொட்டனைத்து ஊறும் மணற்கேணி மாந்தர்க்குக் கற்றனைத்து ஊறும் அறிவு.</p></div>
   </div>
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="campus.html">Campus</a>
  <a href="acheive.html">Achivements</a>
  <a href="student.html">Result</a>
  <a href="teacher.html">Add Marks</a>
  <a href="staffs.html">Teachers</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<img class=imgc src="../images/44.jpg">



<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
        <center>
            <div class="flip-card my-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../images/8thuni.jfif" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back"><br>
                    <h3>Medium</h3> 
                    <br><br>
                    <h4>TamilMedium</h4>
                    <h4>EnglishMedium</h4>
                    <br>
                    <p>நீங்கள் முயற்சியை கைவிடாதவரை, வெற்றியும் உங்களை கைவிடுவதில்லை.</p> 
                  </div>
                </div>
              </div>
    </center>
    </div>
    <div class="col-sm-4">
        <center>
            <div class="flip-card my-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../images/9thuni.jfif" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back"><br>
                    <h3>10TH STANDARD</h3> 
                    <br><br>
                    <h4>Highest Mark</h4>
                    <h4>497</h4>
                    <br>
                    <p>நீங்கள் நிறுத்தாத வரை எவ்வளவு மெதுவாகச் சென்றாலும் பரவாயில்லை</p> <br>
                  </div>
                </div>
              </div>
    </center>
    </div>
    <div class="col-sm-4">
    <center>
        <div class="flip-card my-4">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../images/12thuni.jfif" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back"><br>
                <h3>12TH STANDARD</h3> 
                <br><br>
                <h4>Highest Mark</h4>
                <h4>1165</h4>
                <br>
                <p>மலையைப் பார்த்து மலைத்து விடாதே, மலை மீது ஏறினால் அதுவும் உன் காலடியில்.</p> 
              </div>
            </div>
          </div>
    </center>
    </div>
  </div>
</div>
<br><br><br>






<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


</script>

</body>
</html>
