<!DOCTYPE html>
<html lang="en">
<head>
  <title>Working Teachers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-3 bg-primary text-white text-center">
  <h1>!!!!!!!TEACHERS!!!!!!!</h1>
  <p>A good education can change anyone.A good teacher can change everything!!!</p> 
</div>
<br><br>
  <center>
    <h3>Mr.SARAVANAN</h3>
    <br>
    <h4>HEAD MASTER</h4>
    <hr>
    <br>
  </center>
<div class="container mt-5">
  <h1>PG TEACHERS</h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Mr.GOBU</h3>
      <p>Native : Gurusamypalayam</p>
      <p>Subject : Chemistry</p>
      <p>Experience : More Than 15 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.UMAMAHESHWARI</h3>
      <p>Native:A K Samuthram</p>
      <p>Subject : Physics</p>
      <p>Experience : More Than 12 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.MYVIZHI</h3>        
      <p>Native : Namakkal</p>
      <p>Subject : Biology</p>
      <p>Experience : More Than 20 years</p>
      
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mr.PRABAHARAN</h3>        
      <p>Native : RASIPURAM</p>
      <p>Subject : MATHS</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mr.SIVASANKAR</h3>        
      <p>Native : RASIPURAM</p>
      <p>Subject : ENGLISH</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.VALARMATHI</h3>        
      <p>Native : RASIPURAM</p>
      <p>Subject : TAMIL</p>
      <p>Experience : More Than 15 years</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container mt-5">
  <h1>UG TEACHERS</h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Mr.SAMYKANNU</h3>
      <p>Native : Namakkal</p>
      <p>Subject : Social Science</p>
      <p>Experience : More Than 25 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.KALAISELVI</h3>
      <p>Native : Rasipuram</p>
      <p>Subject : Science</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mr.SARAVANAN</h3>        
      <p>Native : RASIPURAM</p>
      <p>Subject : MATHS</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.SAVITHA</h3>        
      <p>Native : Ramanayakkanpatty</p>
      <p>Subject : MATHS</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mr.XAVIOR PRINCE</h3>        
      <p>Native : Namakkal</p>
      <p>Subject : ENGLISH</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.RANI</h3>        
      <p>Native : Puduchatram</p>
      <p>Subject : Tamil</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.SITHRAKALA</h3>        
      <p>Native : Rasipuram</p>
      <p>Subject : Tamil</p>
      <p>Experience : More Than 18 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.GEETHANJALI</h3>        
      <p>Native : Namakkal</p>
      <p>Subject : English</p>
      <p>Experience : More Than 15 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mrs.KAJALAKSHMI</h3>        
      <p>Native : Puduchatram</p>
      <p>Subject : All</p>
      <p>Experience : More Than 20 years</p>
    </div>
    <br>
  </div>
</div>
<div class="container mt-5">
  <h2>PT and Drawing</h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Mr.PANNERSELVAM</h3>        
      <p>Native : Rasipuram</p>
      <p>Subject : Physical Education</p>
      <p>Experience : More Than 18 years</p>
    </div>
    <br>
    <div class="col-sm-4">
      <h3>Mr.PALANIVEL</h3>        
      <p>Native : PudhanSandai</p>
      <p>Subject : Drawing</p>
      <p>Experience : More Than 10 years</p>
    </div>
  </div>
</div>
</body>
</html>
